body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 .notification {
  min-width: 600px;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 5000;
  text-align: left;
}

.bdr{
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}
