body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.notification {
  min-width: 600px;
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 5000;
  text-align: left;
}

.bdr{
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}

.clearboth{
  margin-bottom: 5px;
  clear: both;
}

.floatL{
  text-align: left;
}
.floatR{
  text-align: Right;
}
.btn{
  margin-right: 8px;
}
