extends ../layout/layout

block content
  .clear
  .clear
  .row
    .col-lg-1
    .col-lg-10
      center
        h2 It is your home page
        if user !== undefined
          div #{user.name}
          div #{user.username}
          div #{user.email}
          div #{session}
        else
          div There is no user.
    .col-lg-1
