extends ../layout/layout

block content
  .clear
  .clear
  .row
    .col-lg-1
    .col-lg-10
      div.floatL.row
        h3 Blogs
      .row.bdr
      if blogs !== undefined && blogs.length > 0
        .div.blogs-list
          for blog in blogs
            div.floatL.row.blg-header
              a(href="/blogs/#{blog.id}") #{blog.title}
            div.row.floatL.blg-content
              div #{blog.content}
      else
        div There is no Blog.
    .col-lg-1
